[worldserver]

# The amount of gold given at specified levels
LevelReward.Level.10 = 5
LevelReward.Level.20 = 15
LevelReward.Level.30 = 30
LevelReward.Level.40 = 45
LevelReward.Level.50 = 60
LevelReward.Level.60 = 80
LevelReward.Level.70 = 125
LevelReward.Level.80 = 250
